
.about-me-section {
  margin-top: 60vh;
  display: flex;
  flex-direction: column;
}

.container-pic-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-pic,
.about-text {
  width: calc(90% - 90px);
  display: flex;
  justify-content: center;
}

.about-text {
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-family: "Sen", sans-serif;
  background-color: #030200;
  color: #f8f8f8;
  line-height: 1.6;
  letter-spacing: 1.5px;
}


.about-name {
  color: white;
  font-size: 38px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #76c442;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
  padding-bottom: 20px; /* edit this */
}

.svg {
  height: 6rem;
  width: 6rem;
}

.skill-name:hover {
    color: rgb(218, 183, 249);
}

.skills-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 38px;
  text-decoration: underline;
  text-decoration-color: rgb(218, 183, 249);
}



.image {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}

.about-name,
.skills-title {
  flex-direction: column;
}



.skills-title {
  display: flex;
  text-align: center;
}



.image {
  width: 300px;
  height: 300px;
}

.spacer {
  height: 20vh;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  width: 90%;
}

.skills {
  height: 100%;
  margin: 6% auto;
  margin-left: 55px;
  margin-right: 55px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skills-container,
.skills-title,
.link {
  text-decoration: none;
  list-style: none;
  color: #f8f8f8;
  padding: 20px;
  border: none;
  margin: 0;
}

.skills-title span {
  font-size: 6.5rem;
}

.skills,
.about-name {
  font-weight: bold;
  text-transform: uppercase;
}

.about-name,
.skills-container,
.skills-title {
  margin: 5px;
  border: none;
}

.skills-title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media only screen and (min-width: 600px) {
  /* test */
  .about-me-section {
    margin-top: 0vh;
  }

  .container-pic-text {
    display: flex;

  }

  .about-pic {
    margin-right: 50px;
  }

  .about-pic,
  .about-text {
    width: calc(50% - 50px);
    display: flex;
    justify-content: center;
  }

  /* for tablets */
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  /* test */

  .about-me-section {
    margin-top: 0vh;
  }

  .container-pic-text {
    display: flex;
    flex-direction: row;
  }

  .about-pic {
    margin-right: 50px;
  }

  .about-pic,
  .about-text {
    width: calc(50% - 50px);
    display: flex;
    justify-content: center;
  }

  /* For desktop: */
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .image {
    width: 400px;
    height: 100%;
  }

}
