@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;500&family=Arvo:wght@400;700&family=Crimson+Pro:ital,wght@0,600;0,700;1,200;1,300;1,400;1,600&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,700&family=DM+Serif+Text:ital@0;1&family=Gloria+Hallelujah&family=Montserrat:wght@300;400;500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;0,1000;1,200;1,600;1,700;1,800;1,900&family=Noto+Serif+JP:wght@200;300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,700;1,800&family=Prompt:wght@200&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;0,1000;1,200;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Play&family=Press+Start+2P&display=swap");
@import url("homepage.module.css");
@import url("projectdetail.module.css");
@import url("projectgrid.module.css");
@import url("about.module.css");
@import url("contact.module.css");

* {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}

body {
  /*  background-color: rgb(218, 183, 249); */
  background-color: #030200;
  margin: 0;
  width: fit-content;
}

.main-home-screen {
  margin: 30px;
  
}

.spacer {
  height: 20vh;
}

/* header */

.firstName {
  color: black;
  text-decoration: none;
  /* background-color: rgb(161, 178, 248); */
  background-color: rgb(218, 183, 249);
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 40px;
  border-color: rgb(218, 183, 249);
  border-width: 6px;
  
}

.lastName {
  background: none;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 0 0 #000,
    0 -1px 1px #000, 1px 1px 0 #000;
  font-weight: 800;
  font-size: 42px;
}

.fullName {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Glow In */
.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.6s;
}
.delay-2 {
  animation-delay: 0.7s;
}
.delay-3 {
  animation-delay: 0.8s;
}

/* end of header */

.back-to-top {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15%;
  font-size: 2rem;
}

.footer-credit {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 8%;
}

/* home */

.jobTitle {
  background: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 0 0 #000,
    0 -1px 1px #000, 1px 1px 0 #000;
  font-weight: 800;
  font-size: 50px;
  padding-top: 5px;
  margin-top: 80px;
  margin-left: 10px;
  letter-spacing: -1px;
  font-family: "Press Start 2P";
  display: block;

  word-spacing: -20px;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 5px;
  border-right-width: 5px;
}

.containerArrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#full {
  height: 150vh;
}

/* contact page */

.kirbyContact {
  position: absolute;
  right: 250px;
  top: 350px;
}

.contactTitle {
  background: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 0 0 #000,
    0 -1px 1px #000, 1px 1px 0 #000;
  font-weight: 800;
  font-size: 42px;
  margin-top: 30px;
  margin-left: 10px;
}

.introBubbleContact {
  margin-top: 20%;
  margin-bottom: 60%;
}

.avatar {
  padding-bottom: 10px;
}

.contactParagraph {
  font-size: 20px;
}

/* end of contact page */

/* about me page */




/* end of about me page */

.spacer-750 {
  height: 750px;
}

.spacer-50 {
  height: 50px;
}

.github-project {
  padding: 10px 0px 0px 0px;
}

/* footer */

.contactInfo {
  padding-top: 8%;
  height: 3rem;
}

.linkedIn {
  margin-right: 15px;
  margin-left: 5px;
}

.gitHub {
  margin-right: 15px;
}

.twitter {
  margin-right: 15px;
}

/* end of footer */


@media only screen and (min-width: 600px) {
  /* for tablets */
  #full {
    height: 220vh;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  body {
    margin: 38px;
  }
  #full {
    height: 120vh;
  }

  .fullName {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 30px;
  }

  

  /* homepage */
  .jobTitle {
    background: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 2px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 0 0 #000,
      0 -1px 1px #000, 1px 1px 0 #000;
    font-weight: 800;
    line-height: 101%;
    letter-spacing: -5px;
    word-spacing: -35px;
    display: block;
    font-size: 9.4em;
    margin-top: 40px;
  }

  span {
    border-right: 0.05em solid;
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  .arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }

  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }

  .containerArrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #full {
    height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  /* contact */

  .kirbyContact {
    position: absolute;
    right: 35%;
    top: 42%;
  }

  .contactTitle {
    background: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 0 0 #000,
      0 -1px 1px #000, 1px 1px 0 #000;
    font-weight: 800;
    font-size: 42px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .introBubbleContact {
    margin-top: 0px;
    font-size: 14px;
    width: 500px;
  }

  .contactContainer {
    width: 550px;
    height: 250px;
  }

  .introBubbleAndContactContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  /* end of contact */

  
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate { animation: none !important; }
}
