.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #0e1111;;
    z-index: 1;
    overflow: hidden;
  }
  
  .open ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .open ul li {
    margin: 12px 0;
  }
  
  .open ul li a{
    font-size: 24px;
    color:#fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .closed ul li a {
   display: none;
  }
  
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .hamburger-line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 6px auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .open .hamburger-line:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 7px);
  }
  
  .open .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  
  .open .hamburger-line:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -7px);
  }
  
  @media screen and (min-width: 600px) {
    .mobile-menu {
      display: none;
    }
  }
  