.container-project-and-heading {
  margin-top: 60vh;
  display: flex;
  flex-direction: column;
}

.container-mockup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-links {
  background-color: none;
  color: white;
  font-size:larger;
  font-weight: bold;
}
.project-links:hover {
  text-decoration: underline;
  text-decoration-color: #369cee;
  color: white;
  text-decoration-thickness: 3px;
  
}

.collborator-github-links {
  color: white;
}

.collborator-github-links:hover {
  text-decoration: underline;
  text-decoration-color: #369cee;
  color: white;
  text-decoration-thickness: 2px;
}

.github-live-links-container {
  display: flex;
  gap: 10px;
}

.line-divider {
  font-size: 18px;
  font-weight: 800;
  color: #369cee;
}

.project-heading {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 38px;
  text-decoration: underline;
  text-decoration-color: #369cee;
  font-weight: bold;
  text-transform: uppercase;

}

.project-text {
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
  font-family: "Sen", sans-serif;
  background-color: #030200;
  color: #f8f8f8;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.mockup,
.project-text {
  width: calc(90% - 90px);
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  .container-mockup-text {
    display: flex;
  }

  .project-heading {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 38px;
    text-decoration: underline;
    text-decoration-color: #369cee;
    font-weight: bold;
    text-transform: uppercase;
  }

  .mockup {
    margin-right: 50px;
  }

  .mockup,
  .project-text {
    width: calc(50% - 50px);
    display: flex;
    justify-content: center;
  }

  .container-project-and-heading {
    margin-top: 0vh;
    
  }

  .project-text {
    flex-direction: column;
    font-family: "Mulish", sans-serif;
    font-size: 1.1rem;
    font-family: "Sen", sans-serif;
    background-color: #030200;
    color: #f8f8f8;
    line-height: 1.6;
    letter-spacing: 1.5px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .container-mockup-text {
    display: flex;
    flex-direction: row;
  }

  .container-project-and-heading {
    margin-top: 0vh;
    
  }

  .project-heading {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 38px;
    text-decoration: underline;
    text-decoration-color: #369cee;
    font-weight: bold;
    text-transform: uppercase;
  }

  .mockup {
    margin-right: 50px;
  }

  .project-text {
    flex-direction: column;
    font-family: "Mulish", sans-serif;
    font-size: 1.1rem;
    font-family: "Sen", sans-serif;
    background-color: #030200;
    color: #f8f8f8;
    line-height: 1.6;
    letter-spacing: 1.5px;
  }

  .mockup,
  .project-text {
    width: calc(50% - 50px);
    display: flex;
    justify-content: center;
  }
}
